.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 15vw;
    background-color: #CEFFCE;
}
.sidebar img {
    height: 5vw;
    width: 5vw;
    margin: 5vh 5vw 0;
}
.sidebar h2 {
    text-align: center;
}
.sidebar ul {
    margin: 5vh 0;
    list-style: none;
    padding-left: 2vw;
}
.sidebar li {
    line-height: 4.5em;
}
.main {
    padding-left: calc(15vw);
    background-color: #FDFFFF;
}
