<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊畫面</title>
    <style type="text/css">
            .header{
                text-align:center;
            }
            .singup{
                text-align:center; margin-top: 100px;
            }
            .q{
                text-align:center; 
            }
    </style>
</head>
<body>
    <div class="header1"><h2>會員註冊系統</h2></div>
    
    <div class="singup">
        <form action="/singup" method="POST">
            <input type="text" placeholder="匿名" name="nickname"  >
            <br/>
            <input type="text" placeholder="手機號碼或信箱" name="email"  >
            <br/>
            <input type="password" placeholder="密碼" name="password"/>
            <br/>
            <br/>
            <button>註冊</button>
        </form>
    </div>
    <div class="q">
        <a href="http://127.0.0.1:3000/head">回首頁</a>
    </div>
    
</body>
</html>