<form action="/plot" method="get">
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date" value="2023-05-06">
    <br>
    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date" value="2023-05-06">
    <br><br>
    <input type="submit" value="Plot">
</form>
'''





<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    input[type="date"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        outline: none;
    }

    label {
        font-size: 20px;
    }

</style>
